.budget-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.budget-container > * {
  padding: 10px;
}
.budget-table > *{
    align-items: center;
    text-align: center;
}
